*,
*::before,
*::after {
  box-sizing: border-box;
}

.todo-table {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #272727;
    color: #ccc;
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: white) {
  html,
  body {
    color-scheme: light;
  }
}
